.logo { 
  width: 50px;
  height: 50px;
  padding-top: 5px;
  border: 10px solid rgb(16, 6, 73);
  margin: 10px;}

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

nav a:link { color: #c3afe0; }
nav a:visited { color: #f0f3f3;}
nav a:hover { color: #A26100;}

nav a {padding-inline: 50px;}

.wrapper{background-color: rgb(231, 200, 132);
    margin: 0px; 
    width: 100%;
    height: 500px;
    position: relative;
    display: flex;
  }        

  body{background-color: #eecd9c;
margin: 10px;
padding: 10px;}

article{background-color: #aa711c;
margin: 20px;
padding:10px;
border-radius: 20px;}

aside{background-color: #af9267;
  margin: 20px;
  padding:10px;
  border-radius: 20px;}